* {
  box-sizing: border-box;
}

html {
  background-color: lightgray;
}

.parent {
  margin-top: 10px;
  background-color: white;
  width: 700px;
}

.child {
  display: inline-block;
  border: 1px solid black;
  width: 250px;
  height: 50px;
  background-color: coral;
}

.other {
  display: inline;
  padding-top: 50px;
  background-color: red;
}
